html
    head
        title='test pug'
        style
            include styles.css
    body
        include nav.pug
        form(action='/api/productos' method='POST' class='form')
            h1(class='title-form') Ingresa un producto 
            input(type="text" name="nombre" placeholder="Ingresa un producto")
            input(type="number" name="precio" placeholder="Ingresa un precio")
            input(type="text" name="imgUrl" placeholder="Ingresa una url de imagen")
            button(type="submit") Enviar